.container {
  display: block;
}

.container h1 {
  font-size: 40px;
}

.resume {
  display: grid;
  grid-template-columns: 1.6fr 0.4fr;
}

.experience {
  display: grid;
  grid-template-columns: 0.3fr 1.7fr;
  padding: 30px 0;
  border-bottom: 1px solid #4c4647;
}

.experience:first-of-type {
  margin-top: 20px;
  border-top: 1px solid #4c4647;
}

.experience h1 {
  display: flex;
  width: 100px;
  height: 100px;
  background-color: #e83556;
  border-radius: 100%;
  color: white;
  font-size: large;
  font-weight: lighter;
  align-items: center;
  padding: 10px;
}

.information {
  margin-left: 20px;
  padding-right: 10px;
}

.information div {
  margin-bottom: 20px;
}

.information div:last-of-type {
  margin-bottom: 10px;
}

.company,
.university {
  font-size: x-large;
}

.time {
  font-size: large;
  margin-bottom: 10px;
}

.skill {
  margin-top: 20px;
  margin-left: 50px;
  display: block;
}

.skill h1 {
  font-size: large;
  font-weight: lighter;
  margin: 10px auto;
  padding-bottom: 10px;
  border-bottom: 1px solid #4c4647;
}

.skill section {
  margin-bottom: 40px;
}

.container ul {
  margin-left: 10px;
  list-style-type: none;
}

.container ul li {
  font-style: small;
  font-family: "Roboto";
  text-transform: uppercase;
}

.icon_code,
.icon_globe {
  padding: 10px;
  border-radius: 100%;
  background-color: #61d0d4;
  align-self: center;
  justify-self: center;
  font-size: x-large;
}

.icon_code {
  padding: 12px 10px;
  font-size: large;
}

.icon_code path,
.icon_globe path {
  color: white;
}

@media screen and (max-width: 767px) {
  .container h1 {
    font-size: 30px;
  }

  .resume {
    display: block;
  }
  .experience {
    display: block;
  }

  .experience h1 {
    display: flex;
    margin: auto;
    font-size: large;
    text-align: center;
    margin-bottom: 15px;
  }

  .skill {
    margin: 20px 20px 0px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .skill section {
    margin-bottom: 20px;
  }

  .skill h1 {
    font-size: x-large;
    border-bottom: none;
    padding: 0;
  }
  .experience:last-of-type {
    border-top: 1px solid #4c4647;
  }
}
