.item {
  padding: 1rem 0;
  display: grid;
  grid-template-columns: auto auto;
  border-top: 1px solid var(--text-color);
}

.item .thumbnail {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item img {
  width: 25rem;
  padding: 0 1rem;
  box-sizing: border-box;
}

.item .detail p {
  margin-left: 1.5rem;
  margin-bottom: 1rem;
}

.item .detail .projectNo {
  width: 6rem;
  height: 6rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  color: white;
  background: var(--secondary-color);
}

.item .detail .projectName {
  font-size: 1.2rem;
  font-weight: bold;
  padding-top: 1rem;
  border-top: 1px solid var(--text-color);
}

.item .detail .projectDes {
  font-family: Arial, Helvetica, sans-serif;
}

.item .detail .projectDes p {
  margin: 0.5rem 0;
}

@media screen and (max-width: 768px) {
  .item {
    grid-template-columns: auto;
  }

  .item .detail p {
    margin-left: 0;
  }

  .item .detail .projectNo {
    display: none;
  }

  .item .detail .projectName {
    padding-top: 2rem;
    border-top: 0;
  }
}
