.button {
  width: 8rem;
  height: 8rem;
  min-width: 90px;
  min-height: 90px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 0.8rem;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  user-select: none;
}

.button:hover {
  filter: brightness(70%);
  transition: 0.3s;
}

.button:first-of-type {
  background: var(--primary-color);
}

.button:nth-of-type(2) {
  background: var(--secondary-color);
}

.button:nth-of-type(3) {
  background: var(--tertiary-color);
}
