.container {
    display: block;
}

.container h1 {
    font-size: 40px;
}

.project {
	display: grid;
	grid-template-columns: 1.1fr 0.9fr;
	padding: 30px 0;
	border-bottom: 1px solid #4C4647;
}

.project:first-of-type {
	margin-top: 20px;
	border-top: 1px solid #4C4647;	
}

.project img {
	width: 370px;
	display: flex;
    align-self: center;
    justify-content: center;
	padding-left: 20px;
}

.project h1 {
	display: flex;
	width: 100px;
	height: 100px;
	background-color: #61D0D4;
	border-radius: 	100%;
	color: 	white;
	font-size: large;	
	font-weight: lighter;
	align-items: center;
	justify-content: center;	
}

.project h2 {
	font-size: large;	
	margin-top: 20px;
	padding-top: 10px;
	padding-bottom: 20px;
	border-top: 1px solid #4C4647;
}

.project p {
	margin-bottom: 10px;
}

@media screen and (max-width: 768px)  {
	 .project img {
	width: 85%;
}
}

@media screen and (max-width: 767px)  {
	.container h1 {
    font-size: 30px;
}

	.project {
	display: block;
	margin-top: 10px; 
}

  .project img {
	padding-left: 0;
	margin: auto;	
}

.project h1 {
	margin-top: 20px;
	margin-bottom: 20px;
	display: block;
	width: 200px;
	height: 10px;
	background-color: unset;
	border-radius: unset;
	color: unset;
	font-size: x-large;	
	font-weight: bold;
	align-items: none;
	justify-content: center;	
}

.project h2 {
	border-top: none;
	padding-bottom: 10px;
}
}