header {
	display: inline;
}

.name { 
	font-size: xx-large;
}

.job {
	font-size: x-large;
	font-weight: 300;
}

@media screen and (max-width: 767px)  {
	.name { 
		font-size: x-large;
	}

	.job {
		font-size: large;
		font-weight: 300;
	}
}


@media screen and (min-width: 767px) and (max-width: 1024px)  {
	.name { 
		font-size: 20px;
	}

	.job {
		font-size: large;
		font-weight: 300;
	}
}