.resume {
  margin-bottom: 5rem;
}

.container {
  display: grid;
  grid-template-columns: 1.6fr 0.4fr;
}

.container .experience {
  margin-right: 3rem;
}

.container .experience .item {
  display: grid;
  grid-template-columns: auto auto;
  padding: 1.5rem 0;
  border-top: 1px solid var(--text-color);
}

.item h2 {
  margin: 0 1rem;
  height: 8rem;
  width: 8rem;
  border-radius: 100%;
  background: var(--primary-color);
  display: inline-flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: white;
}

/* ======== */
.skill h2 {
  font-size: 1.2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--text-color);
  display: flex;
  align-items: center;
}

.skill h2 .icon {
  color: white;
  padding: 0.5rem;
  margin-right: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
  background: var(--secondary-color);
}

.skill ul {
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.skill ul li {
  line-height: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
}

/* Mobile & Tablet */
@media screen and (max-width: 768px) {
  .container {
    grid-template-columns: auto;
  }

  .container .experience {
    margin-right: 0;
  }

  .skill {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .skill article {
    box-sizing: border-box;
    margin-right: 0.5rem;
  }
}

@media screen and (max-width: 823px) {
  .resume {
    margin-bottom: 0;
  }
}
